html,
body {
    height: 100%;
    font-family: HelveticaNeue, Helvetica, Arial, "Hiragino Sans GB", sans-serif;
}

body {
    overflow-y: scroll;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

/* index.html */
.archives {
    height: 100%;
    -webkit-transition: -webkit-transform .5s cubic-bezier(.5,0,.25,1),-webkit-filter 1s cubic-bezier(.5,0,.25,1),-webkit-transform .5s cubic-bezier(.5,0,.25,1),filter 1s cubic-bezier(.5,0,.25,1);
    transition: transform .5s cubic-bezier(.5,0,.25,1),filter 1s cubic-bezier(.5,0,.25,1);
}
.archives:after {
    content: "";
    display: block;
    float: none;
    clear: both;
}

.archive-container {
    position: relative;
    z-index: 1;
    height: 100%;
    min-height: 300px;
    float: left;
    overflow: hidden;
    cursor: pointer;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    /* Hide until loading images complete. */
    opacity: 0;
}
.archive-container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity .75s ease;
    transition: opacity .75s ease;
    background: -webkit-linear-gradient(transparent,rgba(0,0,0,.25),transparent);
    background: linear-gradient(transparent,rgba(0,0,0,.25),transparent);
}
html.desktop .archive-container:before {
    background: 0 0;
    background-color: rgba(0,0,0,.3)
}

.archive-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transition: -webkit-transform .5s cubic-bezier(.5,0,.25,1);
    transition: transform .5s cubic-bezier(.5,0,.25,1);
}

.archive-text {
    color: #ffffff;
    text-align: center;
}

.archive-text-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 2
}

.archive-text-zh {
    font-size: 2.5em;
}
.archive-text-en {
    font-size: 1.3em;
}

.archive-text-spacer {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.archive-text-spacer:before {
    content: "";
    display: block;
    border-bottom: 1px solid rgba(255,255,255,.5)
}

.archive-button {
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: block;
    width: calc(100% - 60px);
    outline: 0;
    padding: 10px 20px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    font-weight: 700;
    opacity: 1;
    -webkit-transform: translate3d(-50%,0,0);
    transform: translate3d(-50%,0,0);
    -webkit-transition: -webkit-transform .5s cubic-bezier(.5,0,.25,1),
                        opacity .5s cubic-bezier(.5,0,.25,1),
                        background-color .3s ease,
                        color .3s ease;
    transition: transform .5s cubic-bezier(.5,0,.25,1),
                opacity .5s cubic-bezier(.5,0,.25,1),
                background-color .3s ease,
                color .3s ease;
}
html.desktop .archive-button {
    opacity: 0;
    -webkit-transform: translate3d(-50%,60px,0);
    transform: translate3d(-50%,60px,0)
}
.archive-button:hover {
    color: #121212;
    background: #ffffff;
    border: 2px solid #fff;
}

@media (min-width: 768px) {
    .archives {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .archive-container {
        margin:0 -1px;
        box-shadow: 0 0 0 transparent;
        -webkit-transition: box-shadow .75s ease;
        transition: box-shadow .75s ease;
    }

    .archive-container:hover {
        z-index: 2;
        box-shadow: 0 0 150px rgba(0,0,0,.65);
    }

    .archive-container:hover:before {
        opacity: 0;
    }

    .archive-container:hover .archive-button {
        opacity: 1;
        -webkit-transform: translate3d(-50%,0,0);
        transform: translate3d(-50%,0,0);
    }

    .archive-container:hover .archive-image {
        -webkit-transition: -webkit-transform 3s cubic-bezier(.25,.75,.5,1);
        transition: transform 3s cubic-bezier(.25,.75,.5,1);
        -webkit-transform: translate3d(0,0,0) scale(1.05);
        transform: translate3d(0,0,0) scale(1.05);
    }
}

@media (max-width: 768px) {
    .archive-container {
        width: 100%;
    }
}

/*******************************************************************/

/* slice.html */
.slices {
    position: relative;
    overflow: hidden;
    -webkit-transition: -webkit-transform .5s cubic-bezier(.5,0,.25,1),-webkit-filter 1s cubic-bezier(.5,0,.25,1),-webkit-transform .5s cubic-bezier(.5,0,.25,1),filter 1s cubic-bezier(.5,0,.25,1);
    transition: transform .5s cubic-bezier(.5,0,.25,1),filter 1s cubic-bezier(.5,0,.25,1);
}

.slice-container {
    position: relative;
    height: 100%;
    padding: 60px 0;
}

/*需要根据每张图的情况修改*/
.slice-container .slice-image {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1000;
    height: 75%;
    width: 100%;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transform: translateY(-50%) translateX(45%);
    -ms-transform: translateY(-50%) translateX(45%);
    transform: translateY(-50%) translateX(45%);
}

.slice-container .slice-text-container {
    position: relative;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1280px;
}
@media (min-width: 768px) {
    .slice-text-container {
        padding: 0 60px;
    }
}

.slice-container .slice-text {
    position: absolute;
    top: 50%;
    width: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slice-container .slice-text p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

@media (max-width: 767px) {
    .slice-container {
        padding: 50px 0;
        box-sizing: content-box;
        min-height: 100vmin;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .slice-container .slice-image {
        position: static;
        margin: 0 0;
        width: auto;
        height: 300px;
        background-position: center;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .slice-container .slice-text-container {
        height: auto;
    }
    .slice-container .slice-text {
        position: static;
        margin: 0 0 5rem 0;
        width: auto;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
    .slice-container h2 {
        text-align: center;
    }
}

.slice-nav {
    position: fixed;
    z-index: 1000;
    top: 50%;
    right: 35px;
    padding: 14px 12px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    background: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*-webkit-transition: right 0.3s, background-color 0.3s;*/
    /*transition: right 0.3s, background-color 0.3s;*/
    -webkit-transition: -webkit-transform .5s cubic-bezier(.5,0,.25,1),-webkit-filter 1s cubic-bezier(.5,0,.25,1),-webkit-transform .5s cubic-bezier(.5,0,.25,1),filter 1s cubic-bezier(.5,0,.25,1);
    transition: transform .5s cubic-bezier(.5,0,.25,1),filter 1s cubic-bezier(.5,0,.25,1);
}
.slice-nav-list,
.slice-nav-item {
    margin: 0;
    padding: 0;
}
.slice-nav-item {
    display: block;
    width: 10px;
    height: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 50%;
    background: #A0A0A0;
    cursor: pointer;
    -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
    transition: background-color 0.3s, transform 0.3s;
}
.slice-nav-item:last-child {
    margin-bottom: 0;
}
.slice-nav-item:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.slice-nav-item-active {
    box-shadow: 0 0 0 2px #A0A0A0;
    background-color: #fff;
}
@media (max-width: 767px) {
    .slice-nav {
        display: none;
    }
}

.about-us-slice-container {
    background-color: #fff;
    color: #000;
}
.about-us-slice-container .grid-horizontal-line,
.about-us-slice-container .grid-vertical-line {
    position: fixed;
    display: block;
    background-color: #eee4da;
}
.about-us-slice-container .grid-horizontal-line {
    height: 2px;
    width: 100%;
}
.about-us-slice-container .grid-vertical-line {
    width: 2px;
    height: 100%;
}

/*******************************************************************/

/* menu */
.menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;
    width: 270px;
    height: 100%;
    padding: 15px 25px;
    background-color: #121212;
    color: #ffffff;
    -webkit-transform: translate3d(270px,0,0);
    transform: translate3d(270px,0,0);
    -webkit-transition: -webkit-transform .5s cubic-bezier(.5,0,.25,1);
    transition: transform .5s cubic-bezier(.5,0,.25,1);
}
.menu.menu-active {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.archives.archives-inactive {
    -webkit-transform: translate3d(-270px,0,0);
    transform: translate3d(-270px,0,0);
    /*-webkit-filter: blur(10px);*/
    /*filter: blur(10px);*/
}
.slices.slices-inactive,
.slice-nav.slice-nav-inactive {
    -webkit-transform: translate3d(-270px,0,0);
    transform: translate3d(-270px,0,0);
    /*-webkit-filter: blur(10px);*/
    /*filter: blur(10px);*/
}

.menu-button {
    position: absolute;
    top: 0;
    left: -50px;
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: #121212;
    color: #ffffff;
    cursor: pointer;
}

.menu-button .menu-line {
    position: relative;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    -webkit-transition: -webkit-transform .5s cubic-bezier(.5,0,.25,1),background-color .5s cubic-bezier(.5,0,.25,1);
    transition: transform .5s cubic-bezier(.5,0,.25,1),background-color .5s cubic-bezier(.5,0,.25,1);
}
.menu-button .menu-line:before,
.menu-button .menu-line:after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: inherit;
    background-color: #ffffff;
    -webkit-transition: -webkit-transform .5s cubic-bezier(.5,0,.25,1),top .5s cubic-bezier(.5,0,.25,1),bottom .5s cubic-bezier(.5,0,.25,1);
    transition: transform .5s cubic-bezier(.5,0,.25,1),top .5s cubic-bezier(.5,0,.25,1),bottom .5s cubic-bezier(.5,0,.25,1);
}
.menu-button .menu-line:before {
    top: -8px;
}
.menu-button .menu-line:after {
    bottom: -8px;
}
.menu-button:hover .menu-line:before {
    -webkit-transform: translate3d(0,-150%,0);
    transform: translate3d(0,-150%,0);
}
.menu-button:hover .menu-line:after {
    -webkit-transform: translate3d(0,150%,0);
    transform: translate3d(0,150%,0);
}

.menu-active .menu-button:hover .menu-line,
.menu-active .menu-line {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    background-color: transparent;
}
.menu-active .menu-button:hover .menu-line:before,
.menu-active .menu-line:before {
    top: 0;
    -webkit-transform: rotate(45deg) translate3d(0,0,0);
    transform: rotate(45deg) translate3d(0,0,0)
}
.menu-active .menu-button:hover .menu-line:after,
.menu-active .menu-line:after {
    bottom: 0;
    -webkit-transform: rotate(-45deg) translate3d(0,0,0);
    transform: rotate(-45deg) translate3d(0,0,0)
}

.menu-content h2 {
    margin-bottom: 0;
}
.menu-content li {
    margin: 10px;
}

#about-us {
    display: block;
    float: right;
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
}

.menu-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.menu-nav-item {
    position: relative;
    width: calc(100% - 30px);
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.menu-nav-item-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-size: 25px;
}
.menu-nav-item-content img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.menu-nav-item-content a {
    color: #ffffff;
    text-decoration: none;
}

/*******************************************************************/

/* about.html */
.photos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transition: -webkit-transform .5s cubic-bezier(.5,0,.25,1),-webkit-filter 1s cubic-bezier(.5,0,.25,1),-webkit-transform .5s cubic-bezier(.5,0,.25,1),filter 1s cubic-bezier(.5,0,.25,1);
    transition: transform .5s cubic-bezier(.5,0,.25,1),filter 1s cubic-bezier(.5,0,.25,1);
}

.photo-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
    /* Hide until loading images complete. */
    opacity: 0;
}
.photo-container.photo-container-disabled {
    display: none;
}

.photo-container-background,
.photo-image-container {
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    overflow: hidden;
    border: 20px solid #ededed;
    box-shadow: 2px 2px 2px #121212;
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
    width: 60%;
    height: 60%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}
.photo-image-container.photo-image-container-active {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
}

.photo-container-background:nth-child(1),
.photo-container-background:nth-child(2),
.photo-container-background:nth-child(3) {
    top: 17%;
}
.photo-container-background:nth-child(4),
.photo-container-background:nth-child(5),
.photo-container-background:nth-child(6) {
    top: 50%;
}
.photo-container-background:nth-child(7),
.photo-container-background:nth-child(8),
.photo-container-background:nth-child(9) {
    top: 83%;
}
.photo-container-background:nth-child(1),
.photo-container-background:nth-child(4),
.photo-container-background:nth-child(7) {
    left: 17%;
}
.photo-container-background:nth-child(2),
.photo-container-background:nth-child(5),
.photo-container-background:nth-child(8) {
    left: 50%;
}
.photo-container-background:nth-child(3),
.photo-container-background:nth-child(6),
.photo-container-background:nth-child(9) {
    left: 83%;
}

.photo-image-container:nth-child(10) {
    top: 20%;
    left: 20%;
}
.photo-image-container:nth-child(11) {
    top: 20%;
    left: 80%;
}
.photo-image-container:nth-child(12) {
    top: 80%;
    left: 20%;
}
.photo-image-container:nth-child(13) {
    top: 80%;
    left: 80%;
}
.photo-image-container:nth-child(14) {
    top: 50%;
    left: 50%;
}

.photo-caption {
    position: fixed;
    top: 60%;
    left: 25%;
    width: 50%;
    text-align: center;
    color: #dedede;
    text-shadow: 2px 2px 2px #121212;
    font-weight: 700;
    opacity: 0;
}
.photo-caption.photo-container-disabled {
    display: none;
}

.photo-caption h1 {
    margin-top: 0;
    margin-bottom: 10px;
}
.photo-caption p {
    font-size: 1.2em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
}

.photo-caption-animate {
    /*-webkit-animation-name: caption-animate;*/
    /*-webkit-animation-duration: 1s;*/
    /*-webkit-animation-timing-function: cubic-bezier(.5,0,.25,1);*/
    /*-webkit-animation-delay: 0.5s;*/
    /*-webkit-animation-iteration-count: infinite;*/
    /*-webkit-animation-direction: alternate;*/
    /*-webkit-animation-play-state: running;*/
    /*-webkit-animation-fill-mode: forwards;*/
    animation: caption-animate 1s cubic-bezier(.5,0,.25,1) 0.5s forwards;
    -moz-animation: caption-animate 1s cubic-bezier(.5,0,.25,1) 0.5s forwards;
    -webkit-animation: caption-animate 1s cubic-bezier(.5,0,.25,1) 0.5s forwards;
    -o-animation: caption-animate 1s cubic-bezier(.5,0,.25,1) 0.5s forwards;
}

@keyframes caption-animate
{
    from {
        opacity: 0;
        transform: scaleX(1.5);
    }
    to {
        opacity: 0.75;
        transform: scaleX(1);
    }
}
@-moz-keyframes caption-animate
{
    from {
        opacity: 0;
        -moz-transform: scaleX(1.5);
    }
    to {
        opacity: 0.75;
        -moz-transform: scaleX(1);
    }
}
@-webkit-keyframes caption-animate
{
    from {
        opacity: 0;
        -webkit-transform: scaleX(1.5);
    }
    to {
        opacity: 0.75;
        -webkit-transform: scaleX(1);
    }
}
@-o-keyframes caption-animate
{
    from {
        opacity: 0;
        -o-transform: scaleX(1.5);
    }
    to {
        opacity: 0.75;
        -o-transform: scaleX(1);
    }
}

/*******************************************************************/

/* loading */
.archive-loading,
.slice-loading,
.photo-loading {
    position: fixed;
    left: 0;
    z-index: 0;
    background-color: #000000;
    background-image: url(../img/logo.svg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
